.under-header{
    height: 316px;
    text-transform: capitalize;
    position: relative;
}

.under-header span{
    font-size: 48px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 72px;
    position: absolute;
    top: 121px;
    /* left: 45%; */
    left: 662px;
    
}
.under-header p{
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins;
    line-height: 24px;
    position: absolute;
    top: 167px;
    /* left: 46%; */
    left: 674px;
    
}